<!DOCTYPE html>
<html>
<head>
  <title><%= t ("navbar-brand") %></title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= render "shared/header" %>

  <div id="main-container" class="col-sm-10 col-sm-offset-1 col-lg-8 col-lg-offset-2">
    <div >
      <%= render "shared/messages" %>
    </div>
    <div style="clear: both"></div>
    <%= yield %>
  </div>
</body>
</html>
