<!DOCTYPE html>
<html>
<head>
  <title>TemplateRailsPrj</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <%= render "shared/header" %>

  <div style="clear: both"></div>
  <div class="col-sm-12 col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2">
    <div id="main-container">
      <%= render "shared/messages" %>
      <%= yield %>
    </div>
  </div>

</body>
</html>
